- name: Check cluster status
  uri:
    url: "http://{{ ansible_host }}:{{ patroni_restapi_port }}/cluster"
    method: GET
  register: cluster_info
  delegate_to: "{{ groups[patroni_cluster_name] | first }}"
  run_once: true

- name: Get primary node name
  set_fact:
    primary_node_name: "{{ cluster_info.json.members | selectattr('role', 'match', '(master|leader)') | map(attribute='name') | first }}"
  run_once: true
  delegate_to: "{{ groups[patroni_cluster_name] | first }}"

- name: Debug info
  debug:
    msg: "Primary node is: {{ primary_node_name }}"
  run_once: true

- name: Create databases on primary node
  community.postgresql.postgresql_db:
    name: "{{ item.name }}"
    owner: "{{ item.owner | default(omit) }}"
    encoding: "{{ item.encoding | default('UTF8') }}"
    state: present
    login_host: "{{ hostvars[primary_node_name].ansible_host }}"
    login_user: "postgres"
    login_password: "{{ postgres_superuser_password }}"
  loop: "{{ databases }}"
  when: 
    - management_postgres | bool
    - create_db | bool
  delegate_to: "{{ primary_node_name }}"
  run_once: true

- name: Create users on primary node
  community.postgresql.postgresql_user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    role_attr_flags: "{{ item.privileges | default(omit) | join(',') }}"
    state: present
    login_host: "{{ hostvars[primary_node_name].ansible_host }}"
    login_user: "postgres" 
    login_password: "{{ postgres_superuser_password }}"
  loop: "{{ users }}"
  when: 
    - management_postgres | bool
    - create_db | bool
  delegate_to: "{{ primary_node_name }}"
  run_once: true

- name: Create PgBouncer configuration
  template:
    src: pgbouncer.ini.j2
    dest: "{{ pgbouncer_config_dir }}/pgbouncer.ini"
    owner: postgres
    group: postgres
    mode: '0640'
  when: 
    - with_pgbouncer == true
    - management_postgres | bool
    - create_db | bool

- name: Create userlist file
  template:
    src: userlist.txt.j2
    dest: "{{ pgbouncer_config_dir }}/userlist.txt"
    owner: postgres
    group: postgres
    mode: '0640'
  when: 
    - with_pgbouncer == true
    - management_postgres | bool
    - create_db | bool