[databases]
{% for db in databases %}
* = host=localhost port={{ postgresql_port }} auth_user=postgres
{% endfor %}

[pgbouncer]
listen_addr = 0.0.0.0
listen_port = {{ pgbouncer_port }}
auth_type = md5
auth_file = {{ pgbouncer_config_dir }}/userlist
pool_mode = {{ pgbouncer_pool_mode }}
max_client_conn = {{ pgbouncer_max_client_conn }}
default_pool_size = {{ pgbouncer_default_pool_size }}
admin_users = {{ postgres_admin_users }}
stats_users = {{ monitoring_user }}
log_dir = {{ pgbouncer_log_dir }}
verbose = {{ pgbouncer_verbose }}
server_idle_timeout = {{ pgbouncer_server_idle_timeout }}
client_idle_timeout = {{ pgbouncer_client_idle_timeout }}
