[databases]
postgres = host={{ inventory_hostname }} port={{ haproxy_port }} auth_user=postgres
{% for db in databases %}
{{ db.name }} = host={{ inventory_hostname }} port={{ haproxy_port }}{% if postgres_password_encryption_method == 'md5' %} auth_user={{ db.owner }}{% endif %}
{% endfor %}

[pgbouncer]
listen_addr = 0.0.0.0
listen_port = {{ pgbouncer_port }}
{% if postgres_password_encryption_method == scram-sha-256 %}
auth_user = pgbouncer, postgres
{% endif %}
auth_type = {{ postgres_password_encryption_method }}
auth_file = {{ pgbouncer_config_dir }}/userlist
pool_mode = {{ pgbouncer_pool_mode }}
max_client_conn = {{ pgbouncer_max_client_conn }}
default_pool_size = {{ pgbouncer_default_pool_size }}
admin_users = {{ pgbouncer_admin_users }}
stats_users = {{ pgbouncer_stats_users }}
log_dir = {{ pgbouncer_log_dir }}
verbose = {{ pgbouncer_verbose }}
server_idle_timeout = {{ pgbouncer_server_idle_timeout }}
client_idle_timeout = {{ pgbouncer_client_idle_timeout }}
{% if pgbouncer_ssl_enabled | default(false) %}
server_tls_sslmode = require
server_tls_cert_file = {{ pgbouncer_ssl_cert_path }}
server_tls_key_file = {{ pgbouncer_ssl_key_path }}
server_tls_ca_file = {{ pgbouncer_ssl_ca_path }}
client_tls_sslmode = require
{% endif %}